@import "tailwindcss";


body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
  min-height: 100vh;
  padding: 10px 20px;
  color: #e2e8f0;
  font-weight: 700;
}
